*
{
	margin: 0px;
	padding: 0px;
}

:root{
	--Red: hsl(1, 90%, 64%);
	--Blue: hsl(219, 85%, 26%);
	--White: hsl(0, 0%, 100%);
	--Very-light-grayish-blue: hsl(210, 60%, 98%);
	--Light-grayish-blue-1: hsl(211, 68%, 94%);
	--Light-grayish-blue-2: hsl(205, 33%, 90%);
	--Grayish-blue: hsl(219, 14%, 63%);
	--Dark-grayish-blue: hsl(219, 12%, 42%);
	--Very-dark-blue: hsl(224, 21%, 14%);
}



body{
	background: #f4f4f4;
	width: 100%;
	height: 100%;
}

@font-face{
	font-family: plus;
	src: url(PlusJakartaSans-ExtraBold.ttf)
}
@font-face{
	font-family: plus2;
	src: url(PlusJakartaSans-Medium.ttf)
}

.header{
	display: flex;
	justify-content: flex-start;
}

h1{
	font-family: plus;
}
.head-p{
	width: 30px;
	height: 25px;
	border-radius: 5px;
	background-color: black;
	color: white;
	font-size: 19px;
	text-align: center;
	font-family: plus;
	margin-top: 12px;
	margin-left: 10px;
}
.head-p2{
	font-size: 20px;
	margin-left: 250px;
	cursor: pointer;
	border: none;
	background: transparent;
}
.head-p2:hover{
	color: var(--Blue);
}

.bold{
	font-family: plus;
	margin-top: 0;
}

.bold2{
	font-family: plus;
	margin-top: 0;
}

.bold2:hover{
	font-family: plus;
	margin-top: 0;
	color: var(--Blue);
}

.light-bold{
	color: #777777;
	font-family: plus2;
}
.light-bold2{
	color: #777777;
	font-family: plus2;
}

.light-bold2:hover{
	color: var(--Blue);
	font-family: plus2;
}

.container{
	display: inline-block;
	width: 50vw;
	height: 100%;
	margin: 50px 300px;
	padding: 20px 30px 0px 30px;
	border: 1px solid var(--White);
	border-radius: 10px;
	background: var(--White);
}
.box1{
	width: 47vw;
	height: 7vh;
	background-color: var(--Very-light-grayish-blue);
	border-radius: 10px;
	margin: 40px 0 0 0;
	padding: 15px 5px;
	cursor: pointer;
	
}
.box2{
	width: 47vw;
	height: 7vh;
	background-color: var(--Very-light-grayish-blue);
	border-radius: 10px;
	margin: 10px 0;
	padding: 15px 5px;
	cursor: pointer;
}
.box3{
	width: 47vw;
	height: 7vh;
	background-color: var(--Very-light-grayish-blue);
	border-radius: 10px;
	margin: 10px 0;
	padding: 15px 5px;
	cursor: pointer;
}
.box4{
	width: 45vw;
	height: 7vh;
	border-radius: 10px;
	margin: 10px 0;
	padding: 10px 9px;
}
.box5{
	width: 38vw;
	height: 10vh;
	background-color: var(--White);
	border: 1px solid var(--Grayish-blue);
	border-radius: 5px;
	margin: 10px 10px 10px 70px;
	padding: 15px 25px;
	cursor: pointer;
}

.box5:hover{
	background-color: var(--Light-grayish-blue-1);
	cursor: pointer;
	border: none;
}

.box6{
	width: 45vw;
	height: 7vh;
	background-color: var(--White);
	border-radius: 5px;
	margin: 10px 0;
	padding: 15px 5px;
}
.box7{
	width: 45vw;
	height: 7vh;
	background-color: var(--White);
	border-radius: 5px;
	margin: 10px 0;
	padding: 15px 5px;
}

.box7 .light{
	margin-left: 67px;
}


.box8{
	width: 45vw;
	height: 7vh;
	background-color: var(--White);
	border-radius: 5px;
	margin: 10px 0;
	padding: 15px 5px;
}

img{
	width: 40px;
	float: left;
	margin-right: 14px;
	margin-left: 10px;
	margin-top: 7px;
}

.extra{
	float: right;
	cursor: pointer;
}

p{
	font-size: 16px;
	margin-top: 5px;
	font-family: plus2;
}

.light{
	color: #777;
	font-size: 16px;
}

.dot1{
	width: 7px;
	height: 7px;
	background: var(--Red);
	border-radius: 50%;
	display: inline-block;
	margin-left: 7px;
}
.dot2{
	width: 7px;
	height: 7px;
	background: var(--Red);
	border-radius: 50%;
	display: inline-block;
	margin-left: 7px;
}
.dot3{
	width: 7px;
	height: 7px;
	background: var(--Red);
	border-radius: 50%;
	display: inline-block;
	margin-left: 7px;
}

.hide{
	background-color: transparent;
}

.gayab{
	visibility: hidden;
}


@media only screen and (max-width:600px){
	
	.container{
		width: 100%;
		height: 100%;
		margin: auto;
		padding: 15px 30px;
	}
	
	
	.head-p2{
		font-size: 16px;
		margin-left: 80px;
		margin-top: 10px;
	}
	
	h1{
		font-size: larger;
		margin-top: 10px;
		margin-left: 10px;
	}
	
	.box1{
		display: block;
		width: 93%;
		height: 10%;
		margin: 20px 9px;
		background: var(--Very-light-grayish-blue);
		border-radius: 10px;
	}
	
	.box2{
		display: block;
		width: 93%;
		height: 10%;
		margin: 20px 9px;
		border-radius: 10px;
	}
	
	.box3{
		display: block;
		width: 93%;
		height: 10%;
		margin: 20px 9px;
		border-radius: 10px;
	}
	
	.light{
		margin-left: 60px;
	}
	
	.box4{
		display: block;
		width: 91%;
		height: 10%;
		margin: 20px 9px;
		border-radius: 10px;
	}
	
	.box5{
		display: block;
		width: 62%;
		height: 120px;
		margin-left: 77px;
		padding: 15px;
		border-radius: 5px;
	}
	
	.box6{
		display: block;
		width: 93%;
		height: 10%;
		margin: 20px 9px;
		border-radius: 10px;
	}
	
	.box7{
		display: block;
		width: 93%;
		height: 10%;
		margin: 20px 9px;
		border-radius: 10px;
	}
	
	.box7 p{
		margin-top: 3px;
	}
	
	.box8{
		display: block;
		border-radius: 10px;
		width: 93%;
		height: 10%;
		margin: 20px 9px;
	}
}