body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #001040;
    font-family: 'Indie Flower', cursive;
}
.subscribe{
    background-color: #d90036;
    color: white;
    border: 1px solid #dddddd;
    border-radius: 1px;
    padding: 10px 15px 10px 15px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    height: 40px;
    width: 110px;
}
.tweet{
    background-color: rgb(7, 127, 240);
    color:white;
    border: none;
    border-radius: 43px;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    font-weight: bold;
    height: 40px;
    width: 74px;
}
.join{
    background-color: white;
    color:  #001a66;
    border: 1px solid  #001a66;
    border-radius: 1px;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    height: 40px;
    width: 74px;
}
.simple{
        width: 70px;
        height: 40px;
        color: white;
        background-color: green;
        border: none;
        margin: 0px 0px 0px 0px;
        cursor: pointer;
}
.rounded{
        color: white;
        width: 70px;
        height: 40px;
        background-color: red;
        border: none;
        padding: 10px;
        border-radius: 50%;
        box-shadow: 1px 9px silver;
        margin: 0px 0px 0px 0px;
}
.rounded:active{
        background-color: #d90036;
        box-shadow: 0px 5px #d90036;
        transform: translateY(5px) translatex(2px);
        border: 1px solid #8c0023;
        box-shadow: 1px 3px silver;
}


.disabled{
        width: 70px;
        height: 40px;
        padding: 10px;
        border: 1px solid white;
        background-color: blue;
        color: white;
        opacity: 0.3;
        cursor: not-allowed;
        margin: 0px 0px 0px 0px;
}
.click{
        width: 70px;
        height: 40px;
        background-color: yellow;
        border: none;
        padding: 5px;
        border-radius: 3px;
        box-shadow: 1px 1px 6px yellow;
        margin: 0px 0px 0px 0px;
}
.click:active{
        background-color: #ffffbf;
        transform: translateY(5px) translatex(2px);
        border: 1px solid  #ffffbf;
}
.ripple{
        width: 70px;
        height: 40px;
        border: 1px solid white;
        color: white;
        background-color: black;
        padding: 10px 10px;
        margin: 0px 0px 0px 0px;
}
.ripple:after{
        content: "Clicked";
        background: black;
        padding-top: 100%;
        padding-left: 100%;
        margin-left: -90px;
        margin-top: -100%;
        opacity: 0;
        transition: all 0.8s;
}
.ripple:active:after{
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s;
}
.animated{
        width: 110px;
        height: 40px;
        font-size: 20px;
		font-weight: bold;
		padding: 6px 12px;
		background: white;
		border: 1px solid red;
		margin: 0px 0px 0px 0px;
        
}
.btn2{
        vertical-align: top;
        width: 110px;
        height: 40px;
        font-size: 20px;
		font-weight: bold;
		padding: 6px 12px;
		background: white;
		border: 1px solid red;
		margin: 0px 0px 0px 0px;
        
}
.translate{
        width: 100px;
        height: 40px;
        background-color: white;
        border: 1px solid black;
        padding: 5px;
        border-radius: 3px;
        margin: 0px 0px 0px 0px;
}
.skew{
        width: 70px;
        height: 40px;
        background-color: #ff0080;
        border: 2px solid white;
        padding: 5px;
        border-radius: 3px;
        margin: 0px 0px 0px 0px;
}
.scale{
        width: 70px;
        height: 40px;
        background-color: #00d9d9;
        border: 2px solid white;
        padding: 5px;
        border-radius: 3px;
        margin: 0px 0px 0px 0px;
}

.rotatez{
        width: 70px;
        height: 40px;
        background-color: #a64cff;
        border: 2px solid white;
        padding: 5px;
        border-radius: 3px;
        margin: 0px 0px 0px 0px;
}
.neon{
        color: #d900d9;
        cursor: pointer;
        font-size: 35px;
        font-weight: bold;
        width: 150px;
        height: 65px;
        background-color: transparent;
        border: 5px solid #d900d9;
        padding: 0px 0px 0px 0px;
        border-radius: 4px;
        margin: 200px 0px 0px 0px;
        text-shadow: 
        0px 0px 35px white ,
        0px 0px 35px #d900d9;
        text-decoration: none;
        position: relative;
}
.neon::before{
    content: "";
    position: absolute;
    background: #d900d9;
    top: 120%;
    left: 0%;
    width: 100%;
    height: 100%;
    transform: perspective(40px) rotateX(40deg) scale(1.25,0.25);
    filter: blur(40px);
}
.neon:hover{
        box-shadow:
        0px 0px 10px #d900d9 ,
        0px 0px 10px white;
    
}
.neon:focus{
        box-shadow:
        0px 0px 50px #d900d9 ,
        0px 0px 50px white;
    
}
.animated:hover, .btn2:hover{
		cursor: grab;
		box-shadow: 0px 0px 10px red;
		transform: rotateY(360deg)perspective(70px)translatex(10px);
		transition-duration: .5s;
		transition-timing-function: ease-out;
}
.skew:hover{
    transform: skew(10deg,10deg);
    box-shadow: 0px 0px 5px #ff0080;
}
.translate:hover{
    transform: translate(10px,10px);
    box-shadow: 0px 0px 5px black;
}
.scale:hover{
    transform: scale(1.25,1.25);
    box-shadow: 0px 0px 5px #00d9d9;
}
.rotatez:hover{
    transform: rotateZ(10deg);
    box-shadow: 0px 0px 5px #a64cff;
}
.tweet:hover{
    box-shadow: 0px 0px 5px  black;
}
.subscribe:hover{
    opacity:0.7;
}
.join:hover{
    background-color: #0059b3;
    color: white;
}
.click:hover{
        background-color:  #ffffbf;
        border: 1px solid #ffffbf;
}
.rounded:hover{
        background-color: red;
        border: 2px solid #d90036;
}


.sec1{
    width: 40%;
    height: 300px;
    border: 1px solid #d90036 ;
    background-image: radial-gradient(#66001a ,#b3002d ,#d90036);
    
    justify-content: center;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 60px 30px 30px 30px;
    box-shadow: 0px 0px 30px #d90036;
    color: transparent;
}
.sec1:hover{
    background-image: none;
    background-color: #ff7373;
    color: #5a5a5a;
}
.sec2{
    width: 30%;
    height: 300px;
    border: 1px solid #2693ff;
    background-color: #2693ff;
    justify-content: center;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 60px 30px 30px 30px;
    box-shadow: 0px 0px 30px #2693ff;
    color: transparent;
}
.sec2:hover{
    background-image: none;
    background-color: #99ccff;
    color: #5a5a5a;
}
.sec3{
    width: 40%;
    height: 300px;
    border: 1px solid rgb(0, 100, 158);
    background-image: linear-gradient(#0086b3 ,#006cd9 ,#00a3d9);
    justify-content: center;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 60px 30px 30px 30px;
    box-shadow: 0px 0px 30px rgb(0, 100, 158);
    color: transparent;
}
.sec3:hover{
    background-image: none;
    background-color: #99ccff;
    color: #5a5a5a;
}
.sec4{
    width: 30%;
    height: 300px;
    border: 1px solid green;
    background-image: linear-gradient(#006633 ,#00b359 ,#008c69);
    justify-content: center;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 60px 30px 30px 30px;
    box-shadow: 0px 0px 30px green;
    color: transparent;
}
.sec4:hover{
    background-image: none;
    background-color: #99ff99;
    color: #5a5a5a;
}
.sec5{
    width: 40%;
    height: 300px;
    border: 1px solid #ff7373;
    background-color: #ff4c4d;
    justify-content: center;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 60px 30px 30px 30px;
    box-shadow: 0px 0px 30px #ff7373;
    color: transparent;
}
.sec5:hover{
    background-image: none;
    background-color: white;
    color: #5a5a5a;
}
.sec6{
    width: 30%;
    height: 300px;
    border: 1px solid purple;
    background-color: lightblue;
    justify-content: center;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 60px 30px 30px 30px;
    box-shadow: 0px 0px 30px purple;
    color: transparent;
}
.sec6:hover{
    background-color: white;
    color: #5a5a5a;
}
.sec7{
    width: 40%;
    height: 300px;
    border: 1px solid yellow;
    background-color: #ffffbf;
    justify-content: center;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 60px 30px 30px 30px;
    box-shadow: 0px 0px 30px yellow;
    color: transparent;
}
.sec7:hover{
    background-color: #ffff99;
    color: #5a5a5a;
}
.sec8{
    width: 30%;
    height: 300px;
    border: 1px solid black;
    background-color: #000000;
    justify-content: center;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 60px 30px 30px 30px;
    box-shadow: 0px 0px 30px #000000;
    color: transparent;
}
.sec8:hover{
    background-color: #5a5a5a;
    color: #dddddd;
}
.sec9{
    width: 40%;
    height: 300px;
    background-color: #ffbfbf;
    justify-content: center;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 60px 30px 30px 30px;
    box-shadow: 0px 0px 30px red;
    color: transparent;
}
.sec9:hover{
    background-color: white;
    color: #5a5a5a;
    
}
.sec10{
    width: 30%;
    height: 300px;
    background-color: #000000;
    justify-content: center;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 60px 30px 30px 30px;
    box-shadow: 0px 0px 30px black;
    color: transparent;
}
.sec10:hover{
    background-color: #5a5a5a;
    color: #dddddd;
    
}
.sec11{
    width: 40%;
    height: 300px;
    border: 1px solid #ff0080;
    background-color:#ff0080;
    justify-content: center;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 60px 30px 30px 30px;
    box-shadow: 0px 0px 30px #ff0080;
    color: transparent;
}
.sec11:hover{
    background-color: #ff99b3;
    color: #5a5a5a;
}
.sec12{
    width: 30%;
    height: 300px;
    border: 1px solid #00d9d9;
    background-color: #00d9d9;
    justify-content: center;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 60px 30px 30px 30px;
    box-shadow: 0px 0px 30px #00d9d9;
    color: transparent;
}
.sec12:hover{
    background-color: #99e6ff;
    color: #5a5a5a;
}
.sec13{
    width: 40%;
    height: 300px;
    border: 1px solid #a64cff;
    background-color: #a64cff;
    justify-content: center;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 60px 30px 30px 30px;
    box-shadow: 0px 0px 30px #a64cff;
    color: transparent;
}
.sec13:hover{
    background-color: #e699ff;
    color: black;
}
.sec14{
    width: 70%;
    height: 600px;
    color: transparent;
    border: 1px solid #300040;
    background-color: #300040;
    justify-content: center;
    text-align: center;
    margin: 30px 30px 30px 30px;
    padding: 60px 30px 30px 30px;
    box-shadow: 0px 0px 30px #300040;
}
.sec14:hover{
    background-color: #300040;
    color: white;
}