*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}

body{
	background-color: var(--almost-white);
}


:root{
	--almost-white: hsl(0, 0%, 98%);
	--medium-gray: hsl(0, 0%, 41%);
	--almost-black: hsl(0, 0%, 8%);
}

.container{
	max-width: 1440px;
	height: 90vh;
	margin: auto;
	padding: 40px 100px 0px 100px;
	font-family: 'Epilogue', sans-serif;
	background-color: var(--almost-white);
}

header{
	
}
nav{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	padding-top: 20px;
}
nav a{
	font-family: 'Epilogue', sans-serif;
	margin-right: 20px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: var(--medium-gray);
}
nav a:hover{
	font-weight: 700;
	color: var(--almost-black);
	cursor: pointer;
}




.logo{
	margin-left: 30px;
	cursor: pointer;
}
.links-left{
	margin-right: 600px;
	display: flex;
}
.links-right{
	margin-right: 0;
	margin-left: 0;
}
nav a.adj{
	position: absolute;
	left: 170px;
}
nav a.adj-2{
	position: absolute;
	left: 260px;
}
nav a.adj-3{
	margin: 0 20px 0 170px;
}

nav a.sec-last{
	transition: 200ms .2s all ease-in-out;
}
nav a.last{
	transition: 200ms .2s all ease-in-out;
}

nav a.last:hover{
	border: 1px solid var(--almost-black);
	padding: 7px 20px 7px 20px;
	border-radius: 10px;
}


.main-content{
	float: left;
	margin: 40px 0px 0px 40px;
}
.main-content h1{
	font-size: 66px;
	font-weight: 700;
	cursor: pointer;
}
.main-content p{
	margin-top: 40px;
	font-size: 18px;
	font-weight: 500;
	color: var(--medium-gray);
	line-height: 1.5;
}
.btn{
	width: 120px;
	height: 40px;
	padding: 13px 13px 13px 13px;
	margin-top: 30px;
	border: none;
	border-radius: 13px;
	color: var(--almost-white);
	background-color: var(--almost-black);
	font-weight: 500;
}
.btn:hover{
	color: var(--almost-black);
	border: 1px solid var(--almost-black);
	background-color: var(--almost-white);
	font-weight: 700;
	cursor: pointer;
}
.image-right img{
	height: 70vh;
	float: right;
}
.images-down{
	display: inline-block;
	height: 5vh;
	margin: 90px 30px 0px 30px;
}
.down1{
	margin-right: 40px;
}
.down2{
	margin-right: 40px;
}
.down3{
	margin-right: 40px;
}
.down4{
	
}
.sub-menu-wrap{
	
	background: #eee;
	width: 135px;
	border-radius: 5px;
	position: relative;
	top: 30px;
}
.sub-menu-wrap2{
	
	background: #eee;
	width: 90px;
	height: 90px;
	border-radius: 5px;
	position: relative;
	top: 30px;
	left: 70px;
}
.sub-menu-link{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--almost-black);
	margin: 5px 5px;
}
.sub-menu-link img{
	
	padding: 10px;
	margin-left: 7px;
	margin-right: 3px;
}
.sub-menu-link p{
	width: 100%;
	padding: 5px;
}
.hide{
	display: none;
}

.drop-icon{
	content: url("icon-arrow-up.svg");
}
.drop-icon2{
	content: url("icon-arrow-up.svg");
}

@media only screen and (max-width:600px){
	
}