body{
	width: 100%;
	height: 100%;
	color: white;
	text-align: center;
	font-family: orbitron;
	letter-spacing: 5px;
	background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExNjc3NGFkYjRlZGM3M2E1ZDk5MDY4ZDY5OTU5N2UzMTUzMzUxNDkxMyZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/TJE4n94RKbLU1HMukr/giphy.gif");
	background-size: cover;
	font-size: 25px;
	font-weight: bold;
	background-repeat: no-repeat;
	letter-spacing: 5px;
}
.btn{
		font-size: 20px;
		font-weight: bold;
		padding: 6px 12px;
		background: white;
		border: none;
		margin-top: 0px;
		
		
}
.btn2{
		font-size: 20px;
		font-weight: bold;
		padding: 6px 12px;
		background: white;
		border: none;
		margin-top: 0px;
		
		
}
button:hover{
		cursor: grab;
		box-shadow: 0px 0px 20px red;
		transform: rotateY(360deg)perspective(70px)translatex(10px);
		transition-duration: .5s;
		transition-timing-function: ease-out;
}
h1:hover{
		cursor: none;
		transform: rotateY(-720deg);
		transition-duration: 3s;
		transition-timing-function: ease-in;
		transition-delay: .2s;
		box-shadow: 0px 0px 10px transparent;
}

h3:hover{
		cursor: none;
		transform: rotateY(720deg);
		transition-duration: 3s;
		transition-timing-function: ease-in;
		transition-delay: .2s;
		box-shadow: 0px 0px 10px transparent;
}

h3{
	cursor: none;
}