body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav{
	float: right;
}

.container{
	width: 98%;
	height: 50px;
	margin: 0;
}

header{
	background: whitesmoke;
	box-shadow: 8px 4px 10px black;
	height: 60px;
	position: relative;
	z-index: 99;
}

.logo{
	
	float : left;
	font-size: 13px;
	color:  #444;
	cursor: pointer;
}

.logo h1{

	padding-left: 20px;
}

header:after{
	content:"";
	display: table;
	clear: both;
}
nav ul{
	margin:0;
	padding:0;
	list-style: none;
}
nav li{
	display: inline-block;
	margin-left: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
}
nav a{
	color: #444;
	text-decoration: none;
	font-size: 18px;
}
nav a:hover{
	color: red;
}
nav a::before{
	content:"";
	display: block;
	height: 5px;
	width: 0%;
	background: #e5eaef;
	position: absolute;
	top: 0;
	border: none;
	border-radius: 5px;
	transition: all ease-in-out 250ms;
}
nav a:hover::before{
	width: 100%;
}


.sec1{
	width: 100%;
	height: 100vh;
	background-image: url("https://photos.mandarinoriental.com/is/image/MandarinOriental/dmo-The-worlds-most-romantic-hotel-suites-dubai-royal-penthouse-bedroom");
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-text{
	
	padding: 50px 0;
	cursor: pointer;
}

.hero-text h1{
	
}


.sec2, .sec3, .sec4, .sec5{
	width: 100%;
	height: 70vh;
	background-color: white;
}

.page{
	height: 70vh;
	display: flex;
	align-items: center;
	padding: 50px 25px;
	
}

.image img{
	width: 600px;
	height: 300px;
	float: left;
}

.text{
	float: right;
	font-family: ;
	width: 600px;
	padding: 40px 30px;
	margin-left: 50px;
	
}


p{
	font-size: 18px;
}

.footer{
	background-color: #333;
	color: whitesmoke;
	padding: 25px 50px;
}