*
{
	margin: 0px;
	padding: 0px;
}

:root{
	--Dark-cyan: hsl(158, 36%, 37%);
	--Cream: hsl(30, 38%, 92%);
	--Very-dark-blue: hsl(212, 21%, 14%);
	--Dark-grayish-blue: hsl(228, 12%, 48%);
	--White: hsl(0, 0%, 100%);
}





.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body{
	background-color: var(--Cream);
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	
}

.card{
	display: flex;
	width: 45%;
	height: 70vh;
	margin-top: 100px;
	background-color: var(--White);
	border-radius: 15px;
}

img{
	height: 100%;
	float: left;
	border-radius: 10px 3px 3px 10px;
}

p{
	
	font-size: 16px;
	color: var(--Dark-grayish-blue);
	line-height: 1.5;
	margin: 20px 0;
	font-family: 'Montserrat', sans-serif;
	word-break: break-word;
	
}

.head-p{
	color: var(--Dark-grayish-blue);
	margin-top: -15px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.txt{
	padding: 10px;
	margin: 20px;
	font-family: 'Montserrat', sans-serif;
}

.color{
	color: var(--Dark-cyan);
	font-family: 'Fraunces', serif;
	font-size: 33px;
	font-weight: bold;
}

h1{
	font-family: 'Fraunces', serif;
	line-height: .95;
	margin-bottom: 25px;
	font-size: 40px;
}
span{
	display: inline-block;
	margin-left: 25px;
}

#span2{
	margin-left: 0;
	display: inline-flex;
}


button{
	width: 225px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--Dark-cyan);
	color: var(--White);
	border: none;
	border-radius: 10px;
	margin-top: -20px;
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 18px;
}

button:hover{
	background-color: #1b3a2d;
}


@media only screen and (max-width:600px){
	
	.card{
		flex-direction: column;
		width: 90%;
		height: 90%;
		margin: 0;
		padding: 0;
		margin-top: 30px;
	}
	
	img{
		content: url("image-product-mobile.jpg");
	}
	
	.container{
		margin: auto;
	}
	
	.txt{
		margin: 20px;
		padding: 20px;
		
	}
	
	p{
		word-break: normal;
		font-size: 19px;
		margin-bottom: 30px;
	}
	
	.color{
		font-size: 45px;
	}
}