	body{
			background-color: white;
			
			
	}
	h2{
		font-weight: 600;
	}
	p{
		font-size: 13px;
		font-weight: 500;
		font-family: 'Barlow Semi Condensed', sans-serif;
	}
	
	.container{

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 25px;
		margin: 50px;
	}
	
	.Testimonial1{
		background: url('bg-pattern-quotation.svg');
		background-repeat: no-repeat;
		background-position: 80% 1%;
		background-color: hsl(263, 55%, 52%);
		color: hsl(0, 0%, 81%);
		padding: 30px 30px 30px 30px;
		border: 1px solid hsl(263, 55%, 52%);
		border-radius: 5px;
		box-shadow: 0px 0px 5px hsl(263, 55%, 52%);
		cursor: pointer;
	}
	
	.grid-col-span{
		grid-column: span 2;
	}
	.Testimonial5{
		grid-column-start: 4;
		grid-row-start: 1;
		grid-row-end: span 2;
		
	}
	
	.Testimonial2{
		
		background-color: hsl(217, 19%, 35%);
		color: hsl(210, 46%, 95%);
		padding: 30px 30px 30px 30px;
		border: 1px solid hsl(217, 19%, 35%);
		border-radius: 5px;
		box-shadow: 0px 0px 5px hsl(217, 19%, 35%);
		cursor: pointer;
	}
	
	.Testimonial3{
		
		background-color: hsl(0, 0%, 100%);
		padding: 30px 30px 30px 30px;
		border: 1px solid #fff;
		border-radius: 5px;
		box-shadow: 0px 0px 5px hsl(0, 0%, 100%);
		cursor: pointer;
	}
	
	.Testimonial4{
		
		background-color: hsl(219, 29%, 14%);
		color: hsl(210, 46%, 95%);
		padding: 30px 30px 30px 30px;
		border: 1px solid hsl(219, 29%, 14%);
		border-radius: 5px;
		box-shadow: 0px 0px 5px hsl(219, 29%, 14%);
		cursor: pointer;
	}
	
	.Testimonial5{
		
		background-color: hsl(0, 0%, 100%);
		padding: 30px 30px 30px 30px;
		border-radius: 5px;
		box-shadow: 0px 0px 5px white;
		border: 1px solid #fff ;
		cursor: pointer;
	}
	.img1{
		float: left;
		border-radius: 50%;
		margin-top: 10px;
		margin-right: 10px;
		width: 30px;
	}
	.img2{
		float: left;
		border-radius: 50%;
		margin-right: 10px;
		margin-top: 10px;
		width: 30px;
	}
	.img3{
		float: left;
		border-radius: 50%;
		margin-right: 10px;
		margin-top: 10px;
		width: 30px;
	}
	.img4{
		float: left;
		border-radius: 50%;
		margin-right: 10px;
		margin-top: 10px;
		width: 30px;
	}
	.img5{
		float: left;
		border-radius: 50%;
		margin-right: 10px;
		margin-top: 10px;
		width: 30px;
	}
	
	@media only screen and (max-width:1200px){
		
		
		.container{
			display: block;
			width: 100%;
			height: 100%;
			margin: 0px;
		}
		h3{
			
		}
		p{
			font-size: 12px;
		}
		.Testimonial1{
			background-position: 90% 0%;
			padding: 0px 20px;
			margin-bottom: 20px;
			
		}
		.Testimonial2{
			padding: 0px 20px;
			margin-bottom: 20px;
		
		}
		.Testimonial3{
			padding: 0px 20px;
			margin-bottom: 20px;
			
		}
		.Testimonial4{
			padding: 0px 20px;
			margin-bottom: 20px;
			
		}
		.Testimonial5{
			padding: 0px 20px;
			
		}
		.img1 ,.img2 ,.img3 ,.img4 ,.img5{
			margin-top: 10px;
			width: 30px;
		}
	}
	